.banner {
    position: relative;
    background: url(/static/images/bg2.jpg);
    min-height: 602px;
    background-size: cover;
    background-position: center;
}

.section-content {
    color: #fff;
    padding-top: 150px;
}

.section-content h1 {
    font-size: 72px;
}

.btn-size {
    width: 150px;
}

.btn-sign-in {
    margin-right: 10px;
}

.section-content-logout {
    color: #fff;
    margin-top: 200px;

}

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 53px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}