{% extends 'frontend/base.html' %}

{% block title %}
<title>index</title>
{% endblock title %}

{% block body %}
<section class="banner">
    <div class="container">
        <div class="messages-top">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% block messages %}
            {% endblock messages %}
        </div>

        <div class="row">
            <div class="col-sm-6 section-content">
                <h1>SALA VICTORIA</h1>
                <p>Nosotros ponemos los chunches, vos el escándalo</p>
                <a href="{% url 'reservations:make' %}" class="btn btn-outline-primary btn-size">Reservar</a>
            </div>
        </div>
    </div>
</section>


{% endblock body %}